# Obviously env was used to ocontain API keys so we ignore those
.env
.env_*
.env.*
!.env.example

# Python files and folders
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.idea/

# Dataset (not needed for deployment; used only for local ingestion)
*.csv
